@use './variables' as *;

@mixin initiate-row() {
    display: flex;
    flex-wrap: wrap;
    row-gap: $gap;
    margin-left: calc($gap * -0.5);
    margin-right: calc($gap * -0.5);

    > * {
        padding: 0 calc($gap * 0.5);
        box-sizing: border-box;
    }
}