$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$columns: (
    1: (
        xs: 100%,
    ),
    2: (
        xs: 100%,
        md: 50%
    ),
    3: (
        xs: 100%,
        md: 50%,
        lg: 33.333%,
    ),
    4: (
        xs: 100%,
        md: 50%,
        lg: 25%,
    ),
);

$gap: 15px;